{%include 'base.html'%}

{% block content %}
<!--Grid row-->
<div class="row">

  {%for item in hoods%}
  <!--Grid column-->
  <div class="col-md-6 mb-4">

    <!-- Card -->
    <div class="card gradient-card">

        <div class="card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg)">

          <!-- Content -->
          <a href="{%url 'join_hood' item.id%}">
            <div class="text-white d-flex h-100 mask blue-gradient-rgba">
              <div class="first-content align-self-center p-3">
                <h3 class="card-title">{{item.name}}</h3>
                <p class="lead mb-0">{{item.location}}</p>
              </div>
              <div class="second-content align-self-center mx-auto text-center">
                <i class="far fa-money-bill-alt fa-3x"></i>
              </div>
            </div>
          </a>

        </div>

        <!-- Data -->

    </div>
    <!-- Card -->

  </div>

{% endfor%}
</div>
<!--Grid row-->

{% endblock%}